@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  min-width: 1200px;
  overflow-x: auto;
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'Arial', 'Helvetica', 'sans-serif';
}

.banner {
  position: relative;
  z-index: 100;
}

.banner header {
  width: 100%;
  height: 64px;
  background: url("../img/index/nb.png") center center;
  position: absolute;
  top: 0;
  z-index: 100;
}

.banner header nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner header nav > img {
  width: 184px;
  height: 34px;
}

.banner header nav ul {
  display: flex;
}

.banner header nav ul li {
  list-style: none;
  margin-left: 45px;
  position: relative;
  display: flex;
}

.banner header nav ul li .active {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #04a6e1;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
}

.banner header nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  color: #fff;
  position: relative;
  z-index: 3;
}

.banner .swiper-container {
  height: 500px;
}

.banner .swiper-container .swiper-wrapper {
  transition-timing-function: linear;
}

.banner .swiper-container .swiper-wrapper .s1 {
  width: 100%;
  height: 100%;
  background: url("http://pleyu51np.bkt.clouddn.com/a1.png") no-repeat center -82px;
}

.banner .swiper-container .swiper-wrapper .s2 {
  width: 100%;
  height: 100%;
  background: url("http://pleyu51np.bkt.clouddn.com/a2.png") no-repeat center center;
}

.sec1 {
  height: 814px;
  background: #d2d2d2;
  margin: 0 auto;
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.sec1 > img {
  margin-top: 18px;
}

.sec1 .cont {
  width: 1030px;
  margin: 0 auto;
}

.sec1 .cont_t {
  font-size: 0;
}

.sec1 .cont_t > img {
  width: 335px;
}

.sec1 .cont_t img:nth-child(2) {
  margin: 0 10px;
}

.sec1 .cont_c {
  display: flex;
  margin-top: -42px;
}

.sec1 .cont_c p {
  width: 335px;
  display: flex;
  justify-content: center;
}

.sec1 .cont_c p span {
  background: #666666;
  width: 245px;
  height: 72px;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 40px;
  font-weight: 800;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec1 .cont_c p:nth-child(2) {
  margin: 0 10px;
}

.sec1 .cont_b {
  display: flex;
  margin-top: 15px;
}

.sec1 .cont_b p {
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
  line-height: 29px;
}

.sec1 .cont_b p:nth-child(2) {
  margin: 0 10px;
}

.sec2 {
  height: 256px;
  background: url("../img/index/a14.png") no-repeat center center;
}

.ys {
  width: 100%;
  overflow: hidden;
  height: 780px;
  display: flex;
  position: relative;
  top: -1px;
}

.ys .our {
  position: absolute;
  left: 50%;
  top: 1.979167rem;
  margin-left: -182px;
  width: 366px;
  height: 144px;
  z-index: 3;
  background: url("../img/index/our.png") no-repeat center center;
}

.ys .jia {
  position: absolute;
  left: 50%;
  top: 18.75rem;
  margin-left: -63px;
  width: 127px;
  height: 127px;
  z-index: 3;
  background: url("../img/index/jia.png") no-repeat center center;
  transition: left 2s, transform 2s;
  -moz-transition: left 2s, -moz-transform 2s;
  /* Firefox 4 */
  -webkit-transition: left 2s, -webkit-transform 2s;
  /* Safari and Chrome */
  -o-transition: left 2s, -o-transform 2s;
  /* Opera */
}

.ys_l {
  background: #2a679f;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  transition: width 2s;
  -moz-transition: width 2s;
  /* Firefox 4 */
  -webkit-transition: width 2s;
  /* Safari and Chrome */
  -o-transition: width 2s;
  /* Opera */
}

.ys_l_top_all {
  display: flex;
  position: relative;
  margin-top: 250px;
}

.ys_l_top_all .a1 {
  width: 15.520833rem;
  height: 15.520833rem;
  background: url("../img/index/l/l1.png") no-repeat center center;
  background-size: 100% 100%;
  position: relative;
  left: 90px;
  transition: left 3s;
  -moz-transition: left 3s;
  /* Firefox 4 */
  -webkit-transition: left 3s;
  /* Safari and Chrome */
  -o-transition: left 3s;
  /* Opera */
}

.ys_l_top_all .a2 {
  width: 11.458333rem;
  height: 22.916667rem;
  position: absolute;
  left: 13.541667rem;
  top: -2.604167rem;
  background: url("../img/index/l/l2.png") no-repeat center center;
  background-size: 100% 100%;
  transition: left 2s;
  -moz-transition: left 2s;
  /* Firefox 4 */
  -webkit-transition: left 2s;
  /* Safari and Chrome */
  -o-transition: left 2s;
  /* Opera */
}

.ys_l_top_all .a3 {
  width: 25.15625rem;
  height: 14.479167rem;
  background: url("../img/index/l/l4.png") no-repeat center center;
  background-size: 130% 120%;
  position: absolute;
  left: 50%;
  margin-left: -8rem;
  top: 1.927083rem;
  display: flex;
  justify-content: center;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  transition: position 2s, left 2s, transform 2s, margin-left 2s;
  -moz-transition: position 2s, left 2s, transform 2s, margin-left 2s;
  /* Firefox 4 */
  -webkit-transition: position 2s, left 2s, transform 2s, margin-left 2s;
  /* Safari and Chrome */
  -o-transition: position 2s, left 2s, transform 2s, margin-left 2s;
  /* Opera */
}

.ys_l_top_all .a3 .a {
  position: absolute;
  left: 7.010417rem;
  top: -2.447917rem;
  width: 11.71875rem;
  height: 10rem;
  background: url("../img/index/l/l5.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 1;
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  transition: transform 2s, opacity 2s;
  -moz-transition: transform 2s, opacity 2s;
  /* Firefox 4 */
  -webkit-transition: transform 2s, opacity 2s;
  /* Safari and Chrome */
  -o-transition: transform 2s, opacity 2s;
  /* Opera */
}

.ys_l_top_all .a3 .b {
  position: absolute;
  left: -1.5625rem;
  bottom: 2.239583rem;
  width: 13.333333rem;
  height: 6.770833rem;
  background: url("../img/index/l/l6.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 1;
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  transition: transform 2s, opacity 2s;
  -moz-transition: transform 2s, opacity 2s;
  /* Firefox 4 */
  -webkit-transition: transform 2s, opacity 2s;
  /* Safari and Chrome */
  -o-transition: transform 2s, opacity 2s;
  /* Opera */
}

.ys_l_top_all .a3 .c {
  position: absolute;
  right: 0.833333rem;
  bottom: 1.458333rem;
  width: 8.333333rem;
  height: 3.59375rem;
  background: url("../img/index/l/l7.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 1;
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  transition: transform 2s, opacity 2s;
  -moz-transition: transform 2s, opacity 2s;
  /* Firefox 4 */
  -webkit-transition: transform 2s, opacity 2s;
  /* Safari and Chrome */
  -o-transition: transform 2s, opacity 2s;
  /* Opera */
}

.ys_l_top_all .a3 .con {
  width: 260px;
  margin-top: 25px;
}

.ys_l_top_all .a3 .con h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  transition: transform 1.5s;
  -moz-transition: transform 1.5s;
  /* Firefox 4 */
  -webkit-transition: transform 1.5s;
  /* Safari and Chrome */
  -o-transition: transform 1.5s;
  /* Opera */
}

.ys_l_top_all .a3 .con h1 span:first-child {
  width: 92px;
  height: 10px;
  background: #fff;
  margin-bottom: 8px;
}

.ys_l_top_all .a3 .con ul {
  list-style: none;
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  transition: opacity 2s, transform 1.5s;
  -moz-transition: opacity 2s, transform 1.5s;
  /* Firefox 4 */
  -webkit-transition: opacity 2s, transform 1.5s;
  /* Safari and Chrome */
  -o-transition: opacity 2s, transform 1.5s;
  /* Opera */
}

.ys_l_top_all .a3 .con ul li {
  font-size: 13px;
  font-weight: 200;
  color: white;
  display: flex;
  justify-content: space-between;
}

.ys_l_top_all .a3 .con ul li span {
  display: flex;
  align-items: center;
}

.ys_l_top_all .a3 .con ul li span > img {
  width: 12px;
  margin-right: 5px;
}

.ys_l_top_all .a3 .con ul li span:last-child {
  font-weight: 600;
}

.ys_l_bottom {
  width: 10.416667rem;
  height: 10.416667rem;
  margin-top: 1.5625rem;
  position: absolute;
  bottom: 60px;
  left: 50%;
  background: url("../img/index/l/l3.png") no-repeat center center;
  transition: left 2s, bottom 2s, transform 2s;
  -moz-transition: left 2s, bottom 2s, transform 2s;
  /* Firefox 4 */
  -webkit-transition: left 2s, bottom 2s, transform 2s;
  /* Safari and Chrome */
  -o-transition: left 2s, bottom 2s, transform 2s;
  /* Opera */
}

.ys_r {
  background: #04a6e1;
  width: 50%;
  position: relative;
  transition: width 2s;
  -moz-transition: width 2s;
  /* Firefox 4 */
  -webkit-transition: width 2s;
  /* Safari and Chrome */
  -o-transition: width 2s;
  /* Opera */
}

.ys_r_top_all {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 250px;
  transition: all 2s;
  -moz-transition: all 2s;
  /* Firefox 4 */
  -webkit-transition: all 2s;
  /* Safari and Chrome */
  -o-transition: all 2s;
  /* Opera */
}

.ys_r_top_all .l {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: -9rem;
  transition: all 2s;
  -moz-transition: all 2s;
  /* Firefox 4 */
  -webkit-transition: all 2s;
  /* Safari and Chrome */
  -o-transition: all 2s;
  /* Opera */
}

.ys_r_top_all .l .t {
  width: 19rem;
  height: 10rem;
  background: url("../img/index/r/a2.png") no-repeat center center;
  background-size: 100% 100%;
  margin-left: -40px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 2s;
  -moz-transition: all 2s;
  /* Firefox 4 */
  -webkit-transition: all 2s;
  /* Safari and Chrome */
  -o-transition: all 2s;
  /* Opera */
}

.ys_r_top_all .l > .b {
  position: relative;
  z-index: 2;
  width: 483px;
  height: 278px;
  margin-top: -10px;
  background: url("../img/index/r/a1.png") no-repeat center center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  transition: all 2s;
  -moz-transition: all 2s;
  /* Firefox 4 */
  -webkit-transition: all 2s;
  /* Safari and Chrome */
  -o-transition: all 2s;
  /* Opera */
}

.ys_r_top_all .l > .b .bc {
  position: relative;
  bottom: 65px;
  left: -20px;
  width: 310px;
  overflow: hidden;
  opacity: 1;
}

.ys_r_top_all .l > .b .bc .a {
  position: absolute;
  bottom: 0;
  width: 15.885417rem;
  left: 50%;
  margin-left: -9rem;
  height: 17.5rem;
  background: url("../img/index/r/a5.png") no-repeat center center;
  z-index: 1;
  background-size: 100% 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 2s 1.5s;
  -moz-transition: all 2s 1.5s;
  /* Firefox 4 */
  -webkit-transition: all 2s 1.5s;
  /* Safari and Chrome */
  -o-transition: all 2s 1.5s;
  /* Opera */
}

.ys_r_top_all .l > .b .bc .b {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 11.666667rem;
  height: 15.104167rem;
  background: url("../img/index/r/a6.png") no-repeat center center;
  background-size: 100% 100%;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 2s 1.5s;
  -moz-transition: all 2s 1.5s;
  /* Firefox 4 */
  -webkit-transition: all 2s 1.5s;
  /* Safari and Chrome */
  -o-transition: all 2s 1.5s;
  /* Opera */
}

.ys_r_top_all .l > .b .cont {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  opacity: 0;
  transition: opacity 2s 1.5s;
  -moz-transition: opacity 2s 1.5s;
  /* Firefox 4 */
  -webkit-transition: opacity 2s 1.5s;
  /* Safari and Chrome */
  -o-transition: opacity 2s 1.5s;
  /* Opera */
}

.ys_r_top_all .l > .b .cont h1 {
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
  margin-left: -45px;
}

.ys_r_top_all .l > .b .cont h1 span:first-child {
  width: 92px;
  height: 10px;
  background: #fff;
  margin-bottom: 8px;
}

.ys_r_top_all .l > .b .cont ul {
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ys_r_top_all .l > .b .cont ul li {
  width: 160px;
  font-size: 13px;
  font-weight: 200;
  color: white;
  display: flex;
  align-items: center;
}

.ys_r_top_all .l > .b .cont ul li img {
  margin-right: 10px;
}

.ys_r_top_all .r {
  width: 21.197917rem;
  height: 19.583333rem;
  background: url("../img/index/r/a3.png") no-repeat center center;
  position: absolute;
  right: 106px;
  transition: position 3s, right 3s;
  -moz-transition: position 3s, right 3s;
  /* Firefox 4 */
  -webkit-transition: position 3s, right 3s;
  /* Safari and Chrome */
  -o-transition: position 3s, right 3s;
  /* Opera */
}

.ys_r_bottom {
  width: 12rem;
  height: 10.416667rem;
  margin-top: 1.5625rem;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -13rem;
  background: url("../img/index/r/a4.png") no-repeat center center;
  transition: transform 2s, left 2s;
  -moz-transition: transform 2s, left 2s;
  /* Firefox 4 */
  -webkit-transition: transform 2s, left 2s;
  /* Safari and Chrome */
  -o-transition: transform 2s, left 2s;
  /* Opera */
}

.ys_l_hover, .ys_r_hover {
  width: 100vw;
  z-index: 1;
}

.ys_l_leave, .ys_r_leave {
  width: 0;
  z-index: 0;
}

.ys_l_hover {
  align-items: flex-start;
}

.ys_l_hover .ys_l_top_all {
  width: 100%;
}

.ys_l_hover .ys_l_top_all .a1 {
  left: 50%;
  margin-left: 10rem;
}

.ys_l_hover .ys_l_top_all .a2 {
  position: absolute;
  left: 0;
}

.ys_l_hover .ys_l_top_all .a3 {
  -webkit-transform: scale(1.8, 1.8);
  transform: scale(1.8, 1.8);
  position: absolute;
  left: 50%;
  margin-left: -12rem;
}

.ys_l_hover .ys_l_top_all .a3 .a {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  transition-delay: 1.5s;
}

.ys_l_hover .ys_l_top_all .a3 .b {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 30%, 0);
  transform: translate3d(-100%, 30%, 0);
  transition-delay: 1.5s;
}

.ys_l_hover .ys_l_top_all .a3 .c {
  transition-delay: 1.5s;
  opacity: 0;
  -webkit-transform: translate3d(100%, 30%, 0);
  transform: translate3d(100%, 30%, 0);
}

.ys_l_hover .ys_l_top_all .a3 .con {
  opacity: 1;
}

.ys_l_hover .ys_l_top_all .a3 .con h1 {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  transition-delay: 1.5s;
}

.ys_l_hover .ys_l_top_all .a3 .con ul {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-delay: 1.5s;
}

.ys_l_hover .ys_l_bottom {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  left: 10%;
}

.ys_r_hover .ys_r_top_all {
  margin-top: 182px;
}

.ys_r_hover .ys_r_top_all .l {
  margin-top: 0;
}

.ys_r_hover .ys_r_top_all .l .t {
  opacity: 1;
}

.ys_r_hover .ys_r_top_all .l > .b {
  -webkit-transform: scale(1.6, 1.6);
  transform: scale(1.6, 1.6);
}

.ys_r_hover .ys_r_top_all .l > .b .bc {
  opacity: 1;
}

.ys_r_hover .ys_r_top_all .l > .b .bc .a {
  opacity: 1;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.ys_r_hover .ys_r_top_all .l > .b .bc .b {
  opacity: 1;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.ys_r_hover .ys_r_top_all .l > .b .cont {
  opacity: 1;
}

.ys_r_hover .r {
  position: absolute;
  right: 0;
  margin-top: 4.5rem;
}

.ys_r_hover .ys_r_bottom {
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  left: 80%;
}

.ys .jia_l_hover {
  left: 100%;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  /* Firefox 4 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
}

.ys .jia_r_hover {
  left: 0%;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  /* Firefox 4 */
  -webkit-transform: rotate(-45deg);
  /* Safari and Chrome */
  -o-transform: rotate(-45deg);
  /* Opera */
}

main {
  height: 2535px;
  background: url("../img/index/a3.png") no-repeat -30% 130% #2a679f;
  position: relative;
  top: -1px;
  margin-bottom: -1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > img {
  position: absolute;
  bottom: -20px;
  left: 101px;
}

main .al {
  margin: 0 auto;
  margin-top: 110px;
  width: 1115px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

main .al_l {
  width: 735px;
  height: 636px;
  background: url("../img/index/al/a3.png") no-repeat center center;
}

main .al_l .down {
  width: 100%;
  height: 100%;
  background: #2a679f;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}

main .al_l .down .l {
  flex: 1;
  background: url("../img/index/al/a6.png") no-repeat 20% 70%;
  margin-top: 48px;
  opacity: 0;
}

main .al_l .down .r {
  width: 264px;
  background: url("../img/index/al/a5.png") no-repeat;
  margin-top: 48px;
  margin-right: 25px;
  opacity: 0;
}

main .al_r {
  width: 377px;
  height: 635px;
  background: url("../img/index/al/a4.png") no-repeat center center;
}

main .al_r .up {
  width: 100%;
  height: 100%;
  background: #2a679f;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

main .al_r .up .t {
  width: 308px;
  height: 100px;
  background: url("../img/index/al/a7.png") no-repeat center center;
  margin-top: 5px;
  margin-left: 20px;
  opacity: 0;
}

main .al_r .up .b {
  width: 360px;
  height: 455px;
  background: url("../img/index/al/a8.png") no-repeat center center;
  margin-top: 20px;
  margin-left: 10px;
  opacity: 0;
}

main .al_l_hover .down {
  animation: al_l_hover 2s;
  -moz-animation: al_l_hover 2s;
  /* Firefox */
  -webkit-animation: al_l_hover 2s;
  /* Safari 和 Chrome */
  -o-animation: al_l_hover 2s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_l_hover .down .l {
  animation: al_l_l_hover 2s 2s;
  -moz-animation: al_l_l_hover 2s 2s;
  /* Firefox */
  -webkit-animation: al_l_l_hover 2s 2s;
  /* Safari 和 Chrome */
  -o-animation: al_l_l_hover 2s 2s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_l_hover .down .r {
  animation: al_l_hover 2s 0.5s;
  -moz-animation: al_l_hover 2s 0.5s;
  /* Firefox */
  -webkit-animation: al_l_hover 2s 0.5s;
  /* Safari 和 Chrome */
  -o-animation: al_l_hover 2s 0.5s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_l_leave .down {
  opacity: 1;
  animation: al_l_leave 1.5s 0.8s;
  -moz-animation: al_l_leave 1.5s 0.8s;
  /* Firefox */
  -webkit-animation: al_l_leave 1.5s 0.8s;
  /* Safari 和 Chrome */
  -o-animation: al_l_leave 1.5s 0.8s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_l_leave .down .l {
  opacity: 1;
  animation: al_l_l_leave 2s;
  -moz-animation: al_l_l_leave 2s;
  /* Firefox */
  -webkit-animation: al_l_l_leave 2s;
  /* Safari 和 Chrome */
  -o-animation: al_l_l_leave 2s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_l_leave .down .r {
  opacity: 1;
  animation: al_l_leave 1.5s 0.3s;
  -moz-animation: al_l_leave 1.5s 0.3s;
  /* Firefox */
  -webkit-animation: al_l_leave 1.5s 0.3s;
  /* Safari 和 Chrome */
  -o-animation: al_l_leave 1.5s 0.3s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_r_hover .up {
  animation: al_l_hover 2s;
  -moz-animation: al_l_hover 2s;
  /* Firefox */
  -webkit-animation: al_l_hover 2s;
  /* Safari 和 Chrome */
  -o-animation: al_l_hover 2s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_r_hover .up .t {
  animation: al_l_hover 2s 0.5s;
  -moz-animation: al_l_hover 2s 0.5s;
  /* Firefox */
  -webkit-animation: al_l_hover 2s 0.5s;
  /* Safari 和 Chrome */
  -o-animation: al_l_hover 2s 0.5s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_r_hover .up .b {
  animation: al_r_b_hover 2s 2s;
  -moz-animation: al_r_b_hover 2s 2s;
  /* Firefox */
  -webkit-animation: al_r_b_hover 2s 2s;
  /* Safari 和 Chrome */
  -o-animation: al_r_b_hover 2s 2s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_r_leave .up {
  opacity: 1;
  animation: al_l_leave 1.5s 1.5s;
  -moz-animation: al_l_leave 1.5s 1.5s;
  /* Firefox */
  -webkit-animation: al_l_leave 1.5s 1.5s;
  /* Safari 和 Chrome */
  -o-animation: al_l_leave 1.5s 1.5s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_r_leave .up .t {
  opacity: 1;
  animation: al_l_leave 2s;
  -moz-animation: al_l_leave 2s;
  /* Firefox */
  -webkit-animation: al_l_leave 2s;
  /* Safari 和 Chrome */
  -o-animation: al_l_leave 2s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .al_r_leave .up .b {
  opacity: 1;
  animation: al_r_b_leave 1.5s 0.3s;
  -moz-animation: al_r_b_leave 1.5s 0.3s;
  /* Firefox */
  -webkit-animation: al_r_b_leave 1.5s 0.3s;
  /* Safari 和 Chrome */
  -o-animation: al_r_b_leave 1.5s 0.3s;
  /* Opera */
  animation-fill-mode: forwards;
}

main .people {
  width: 1115px;
  margin-top: 220px;
}

main .people_o {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

main .people_o .x {
  position: absolute;
  right: 287px;
  bottom: -46px;
}

main .people_o .r {
  z-index: 1;
}

main .people_o .l {
  position: relative;
}

main .people_o .l h1:first-child {
  width: 510px;
  display: flex;
  flex-direction: column;
}

main .people_o .l h1:first-child span {
  font-size: 63px;
  font-weight: 800;
  color: white;
  line-height: 78px;
}

main .people_o .l h1:first-child span:first-child {
  width: 68px;
  height: 10px;
  background: #fff;
}

main .people_o .l h1:nth-child(2) {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

main .people_o .l h1:nth-child(2) span {
  font-size: 50px;
  font-weight: 800;
  color: white;
}

main .people_o .l h1:nth-child(2) span:last-child {
  margin-top: -25px;
}

main .people_o .l h1:nth-child(3) {
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin-top: 15px;
}

main .people_o .l .t1 {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

main .people_o .l .t2 {
  width: 545px;
  font-size: 17px;
  text-align: justify;
  text-justify: newspaper;
  font-weight: 400;
  color: white;
  line-height: 26px;
  position: absolute;
  bottom: 0;
}

main .people_t {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 466px;
}

main .people_t > img {
  position: absolute;
  left: 330px;
}

main .people_t .l {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main .people_t .l h1 {
  font-size: 52px;
  font-weight: 800;
  color: white;
}

main .people_t .l p {
  display: flex;
  flex-direction: column;
}

main .people_t .l p span {
  font-size: 24px;
  font-weight: 400;
  color: white;
}

main .people_t .l p:last-child {
  font-size: 17px;
  font-weight: 400;
  color: white;
  width: 529px;
  margin-top: 10px;
}

main .people_t .r h1 {
  width: 510px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main .people_t .r h1 span {
  font-size: 50px;
  font-weight: 800;
  color: white;
}

main .people_t .r h1 span:first-child {
  width: 68px;
  height: 10px;
  background: #fff;
}

main .people_t .r p {
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin-top: -15px;
  text-align: right;
}

main .people_th {
  font-size: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -30px;
}

main .people_th .l {
  margin-top: 92px;
}

main .people_th .l h1 {
  font-size: 50px;
  font-weight: 800;
  color: white;
  text-align: right;
}

main .people_th .l p {
  display: flex;
  flex-direction: column;
  text-align: right;
}

main .people_th .l p span {
  font-size: 24px;
  font-weight: 400;
  color: white;
}

main .people_th .l p:last-child {
  font-size: 17px;
  font-weight: 400;
  color: white;
  width: 546px;
  margin-top: 10px;
  text-align: justify;
  text-justify: newspaper;
}
