* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  min-width: 1200px;
  overflow-x: auto;
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'Arial', 'Helvetica', 'sans-serif';
}

.banner {
  background: url("../img/join/a1.png") no-repeat center center;
  width: 100%;
  min-width: 1200px;
  height: 500px;
  position: relative;
}

.banner header {
  width: 100%;
  height: 64px;
  background: url("../img/index/nb.png") center center;
  position: absolute;
  top: 0;
  z-index: 100;
}

.banner header nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner header nav > img {
  width: 184px;
  height: 34px;
}

.banner header nav ul {
  display: flex;
}

.banner header nav ul li {
  list-style: none;
  margin-left: 45px;
  position: relative;
  display: flex;
}

.banner header nav ul li .active {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ff595a;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
}

.banner header nav ul li a {
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  color: #fff;
  position: relative;
  z-index: 3;
}

main {
  background: #d7d7d7;
  display: flex;
  flex-direction: column;
}

main .o {
  width: 1006px;
  margin: 0 auto;
  background: #fff;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
}

main .o > img {
  position: absolute;
  left: 425px;
  margin: 0 auto;
  margin-top: -80px;
}

main .o_b {
  display: flex;
  flex-direction: column;
  margin-top: 179px;
}

main .o_b > div {
  margin-left: 106px;
  display: flex;
  margin-bottom: 40px;
}

main .o_b > div > img {
  width: 28px;
  height: 57px;
  margin-right: 10px;
}

main .o_b > div > div {
  width: 436px;
}

main .o_b > div > div .title {
  font-size: 25px;
  font-weight: 800;
  color: #666666;
}

main .o_b > div > div p {
  text-align: justify;
  text-justify: newspaper;
  font-size: 18px;
  font-weight: 400;
  color: #666666;
  line-height: 22px;
}

main .o_b > div > div p > img {
  margin-top: 20px;
}

main .o_b > div > div ul {
  position: relative;
}

main .o_b > div > div ul li {
  list-style: none;
  font-size: 15px;
  font-family: SourceHanSansSC-Bold;
  font-weight: bold;
  color: #666666;
  line-height: 23px;
  text-align: justify;
  text-justify: newspaper;
  display: flex;
}

main .o_b > div > div ul li > span > img {
  width: 14px;
}

main .o_b > div > div ul li p {
  font-size: 15px;
  font-family: SourceHanSansSC-Bold;
  font-weight: bold;
  color: #666666;
}

main .o_b > div > div ul li p span {
  color: black;
}

main .t {
  text-align: center;
  margin: 130px auto 56px;
}

main .th {
  width: 100%;
  height: 122px;
  position: relative;
}

main .th div {
  width: 538px;
  position: absolute;
  left: 50%;
  margin-left: 60px;
}

main .th div span {
  text-align: justify;
  text-justify: newspaper;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
  line-height: 40px;
}

main .f {
  background: url("../img/join/a5.png") no-repeat center center;
  height: 676px;
  margin-top: 60px;
  position: relative;
  z-index: 4;
}

main .fi_out {
  position: relative;
  z-index: 1;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

main .fi_out > span {
  margin-top: -91px;
  margin-right: -40px;
}

main .fi {
  width: 843px;
  margin-right: 85px;
  background: #f12535;
  display: flex;
  flex-direction: column;
}

main .fi h1 {
  display: flex;
  flex-direction: column;
  padding-left: 155px;
  margin-top: 77px;
  margin-bottom: 62px;
}

main .fi h1 span:first-child {
  margin-bottom: 20px;
}

main .fi h1 span {
  font-size: 41px;
  font-weight: bold;
  color: white;
  width: 362px;
  display: flex;
  justify-content: center;
}

main .fi h1 span em {
  width: 71px;
  height: 6px;
  background: #fff;
}

main .fi_o {
  width: 804px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  margin-left: -66px;
  margin-bottom: 66px;
}

main .fi_o p {
  width: 600px;
  height: 223px;
  box-shadow: -7px -4px 19px 2px rgba(0, 0, 0, 0.14);
  background: #fff;
  padding: 0 43px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  color: #6d6d6d;
  line-height: 34px;
  position: absolute;
  right: 0;
  bottom: -66px;
}

main .fi_t > img {
  margin-left: 215px;
  position: relative;
  z-index: 2;
}

main .fi_t div:first-of-type {
  width: 482px;
  height: 275px;
  background: #ff595a;
  position: relative;
  left: -90px;
  top: -176px;
  display: flex;
  flex-direction: column;
}

main .fi_t div:first-of-type span {
  margin-left: 75px;
}

main .fi_t div:first-of-type span:first-child {
  font-size: 26px;
  font-weight: 300;
  color: white;
  line-height: 28px;
  margin-top: 71px;
}

main .fi_t div:first-of-type span:last-child {
  font-size: 60px;
  font-weight: 800;
  color: white;
  line-height: 64px;
  margin-top: 7px;
}

main .fi_t div:last-of-type {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -176px;
  text-align: right;
  margin-right: 50px;
  margin-bottom: -120px;
}

main .fi_t div:last-of-type span {
  font-size: 17px;
  font-weight: 300;
  color: white;
}

main .fi_t div:last-of-type span:first-child {
  font-size: 45px;
  font-weight: 800;
}

main .fi_t div:last-of-type span:nth-child(2) {
  font-size: 23px;
  font-weight: 500;
}

main .fi_t div:last-of-type span:nth-child(3) {
  font-size: 30px;
  font-weight: 300;
}

main .s {
  display: flex;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 42px;
}

main .e {
  width: 1064px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .e > p {
  align-self: flex-end;
  font-size: 25px;
  font-weight: 400;
  color: #666666;
  line-height: 40px;
  margin-right: 100px;
  margin-bottom: 56px;
}

main .e h1 {
  font-size: 30px;
  font-weight: bold;
  color: #666666;
  line-height: 71px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  margin-bottom: 55px;
}

main .e h1 span:first-child {
  width: 71px;
  height: 6px;
  background: #f12535;
}

main .n {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 205px;
}

main .n_i {
  position: relative;
  z-index: 1;
  top: -66px;
}

main .n_o {
  width: 1200px;
  height: 1381px;
  background: url("../img/join/a10.png") no-repeat center center;
  margin-top: -176px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .n_o h1 {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 33px;
  font-weight: 800;
  color: #666666;
}

main .n_o h1 span:first-child {
  width: 84px;
  height: 7px;
  background: #ff595a;
  margin-bottom: 10px;
}

main .n_o > p {
  width: 742px;
  font-size: 24px;
  font-weight: 400;
  color: #666666;
  line-height: 34px;
  text-align: justify;
  text-justify: newspaper;
  margin-top: 28px;
}
